# Used by app/db.py
DATABASE_URL=

# oauth.name token decryption
OAUTH_NAME_APPLICATION_ID=
OAUTH_NAME_SECRET_KEY=
TOKEN_TTL_SECONDS=
SESSION_TTL_SECONDS=
CORS_ORIGINS=http://training.wiki,http://localhost:3000
